<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*)
		  FROM TB_PLAN_OPTION
		 WHERE STATUS = 'Y'
		   AND PLAN_PRIVATE = 'Y'
		   AND PLAN_TITLE LIKE '%' || ? || '%'
		   AND PLAN_SDATE BETWEEN ? AND ?
		   AND PLAN_EDATE BETWEEN ? AND ?
		   AND PLAN_TYPE LIKE '%' || ? || '%'  
	</entry>

	<entry key="selectList">
        SELECT 
               PLAN_NO
             , PLAN_TITLE
             , USER_NICK
             , PLAN_SDATE
             , PLAN_EDATE
          FROM TB_PLAN_OPTION P
          JOIN TB_MEMBER USING(USER_NO)
         WHERE P.STATUS = 'Y'
           AND PLAN_PRIVATE = 'Y'
           AND PLAN_TITLE LIKE '%' || ? || '%'
           AND PLAN_SDATE BETWEEN ? AND ?
           AND PLAN_EDATE BETWEEN ? AND ?
           AND PLAN_TYPE LIKE '%' || ? || '%' 
	</entry>
</properties>