<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPlanOption">
		INSERT
		  INTO TB_PLAN_OPTION
		  (
		     PLAN_NO
		   , PLAN_TITLE
		   , PLAN_SDATE
		   , PLAN_EDATE
		   , PLAN_AGE
		   , PLAN_ACC
		   , PLAN_BUDGET
		   , PLAN_SCRAP_YN
		   , PLAN_PRIVATE
		   , PLAN_MEMO
		   , PLAN_HASHTAG
		   , PLAN_TEMP
		   , PLAN_TYPE
		   , PLAN_TRANS
		   
		  ) 
		  VALUES
		  (
		     SEQ_UNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		  )
	</entry>
</properties>