<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) 
  		  FROM TB_REPORT 
 		 WHERE REPORT_STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
          FROM 
             (
             SELECT ROWNUM RNUM
                  , A.*
               FROM
                  (
                     SELECT REPORT_NO,
                            M1.USER_ID AS ID1,
                            M2.USER_ID AS ID2,
                            REPORT_DATE,
                            REPORT_TYPE
                       FROM TB_REPORT R
                       JOIN TB_MEMBER M1 ON (R.USER_NO = M1.USER_NO)
                       JOIN TB_MEMBER M2 ON (R.USER_NO2 = M2.USER_NO) 
                      ORDER
                         BY REPORT_NO DESC
                  ) A
             )
         WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		<entry key="selectAdminReport">
		SELECT 
			   REPORT_NO
		     , REPORT_CONTENT
		     , REPORT_DATE
		     , REPORT_TYPE
		     , USER_NO
		     , USER_NO2
		  FROM TB_REPORT R
	FULL OUTER JOIN TB_MEMBER USING(USER_NO)
		 WHERE R.REPORT_STATUS = 'Y'
		   AND REPORT_NO = ?
	</entry>
	
	<entry key="deleteReport">
		UPDATE 
		       TB_REPORT
		   SET REPORT_STATUS = 'N'
		     , REPORT_DATE = SYSDATE
		 WHERE REPORT_NO = ?
	</entry>

</properties>

