<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) 
  		  FROM TB_REPORT 
 		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM 
		     (
		     SELECT ROWNUM RNUM
		          , A.*
		       FROM
		          (
		             SELECT REPORT_NO,
		                    USER_NO,
		                    USER_NO2,
		                    REPORT_DATE,
		                    REPORT_TYPE
		               FROM TB_REPORT
		              WHERE STATUS = 'Y' 
		              ORDER
		                 BY NOTICE_NO DESC
		          ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>

