<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPlanMap">
		INSERT
		  INTO TB_PLAN_MAP
		  (
		     PLAN_XY_NO
		   , PLAN_DAY
		   , ORDER_NO
		   , LINE_MEMO
		   , LATITUDE
		   , LONGITUDE
		    
		  ) 
		  VALUES
		  (
		     SEQ_PLANXYNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		  )
	</entry>
</properties>