<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPlanMap">
		INSERT
		  INTO TB_PLAN_MAP
		  (
		     PLAN_MAP_NO
		   , PLAN_DAY
		   , ORDER_NO
		   , PLACE_NAME
		   , PLAN_NO
		 
		    
		  ) 
		  VALUES
		  (
		     SEQ_PLANXYNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		 
		  )
	</entry>
	<entry key="planMap">
		SELECT *
		  FROM TB_PLAN_MAP
		 WHERE 
		 PLAN_NO = ?
	</entry>
	<entry key="selectPlanDays">
		SELECT 
			   PLAN_NO
			,  PLAN_SDATE
			,  PLAN_EDATE
		  FROM TB_PLAN_OPTION
		 WHERE 
		 	PLAN_NO = ?
	</entry>
</properties>