<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
	      FROM TB_COMMUNITY_SCRAP
	     WHERE USER_NO = ?
	</entry>
	
	<entry key="selectList">
		  SELECT *
		   FROM (
		         SELECT 
		                ROWNUM RNUM
		              , A.* 
		           FROM (
		                 SELECT
		                        CM.COMMUNITY_NO 
		                      , COMMUNITY_TITLE
		                      , SCRAP_DATE
		                   FROM TB_COMMUNITY_SCRAP CS
		                   JOIN TB_COMMUNITY CM ON (CS.COMMUNITY_NO = CM.COMMUNITY_NO)
		                  WHERE COMMUNITY_STATUS = 'Y'
		                    AND CS.USER_NO = ?
		                  ORDER
		                     BY SCRAP_DATE DESC
		                ) A
		           )
  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteScrapCommunityList">
		DELETE
	           TB_COMMUNITY_SCRAP
	     WHERE (USER_NO = ?
	       AND COMMUNITY_NO = ?)
	        
	</entry>
</properties>