<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
	      FROM TB_COMMUNITY_SCRAP
	     WHERE STATUS = 'Y'
	       AND USER_NO = ?
	</entry>
	
	<entry key="selectList">
		 SELECT *
		   FROM (
		         SELECT 
		                ROWNUM RNUM
		              , A.* 
		           FROM (
		                 SELECT
		                        COMMUNITY_NO
		                      , COMMUNITY_TITLE
		                      , USER_NAME
		                      , SCRAP_DATE
		                   FROM TB_COMMUNITY_SCRAP CS
		                   JOIN TB_COMMUNITY CM USING (COMMUNITY_NO)
		                   JOIN TB_MEMBER MEM ON CS.USER_NO = MEM.USER_NO
		                  WHERE COMMUNITY_STATUS = 'Y'
		                    AND CS.USER_NO = ?
		                  ORDER
		                     BY SCRAP_DATE DESC
		                ) A
		           )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>