<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT 
		       COUNT(*)
		  FROM TB_COMMUNITY C
		 WHERE COMMUNITY_STATUS = 'Y'
		   AND COMMUNITY_HEAD = '명소'
	        OR COMMUNITY_HEAD = '맛집'
	</entry>
	<entry key="selectList">
		SELECT *
			  FROM (
			    SELECT ROWNUM RNUM
			         , A.*
			    FROM (
			        SELECT 
			               COMMUNITY_NO
			             , COMMUNITY_TITLE
			             , COMMUNITY_CONTENT
			             , USER_NICK
			             , COMMUNITY_COUNT
			             , COMMUNITY_SCRAP
			             , COMMUNITY_RECOMMEND
			             , COMMUNITY_THUMB
			             , COMMUNITY_HEAD
			             , COMMUNITY_ENROLL
			          FROM TB_COMMUNITY C
			          JOIN TB_MEMBER USING(USER_NO)
			         WHERE COMMUNITY_STATUS = 'Y'
			           AND COMMUNITY_HEAD = '맛집'
			            OR COMMUNITY_HEAD = '명소'
			         ORDER 
			            BY COMMUNITY_NO DESC
			            ) A
			     )
			 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="insertCommunity">
		INSERT
		  INTO TB_COMMUNITY
		  (
		     COMMUNITY_NO
		   , USER_NO
		   , COMMUNITY_TITLE
		   , COMMUNITY_CONTENT
		   , COMMUNITY_THUMB
		   , COMMUNITY_HEAD
		   , COMMUNITY_ENROLL
		   )
		   VALUES
		   (
		      SEQ_UNO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
		    , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH:MM)
		    )
	</entry>
	<entry key="increaseCount">
		UPDATE
		       TB_COMMUNITY
		   SET COMMUNITY_COUNT = COMMUNITY_COUNT +1
		   WHERE COMMUNITY_NO = ?
		     AND COMMUNITY_STATUS = 'Y'
	</entry>
	<entry key="selectCommunity">
		SELECT
		       COMMUNITY_NO
		     , COMMUNITY_TITLE
		     , USER_NICK
		     , COMMUNITY_CONTENT
		     , COMMUNITY_COUNT
		     , COMMUNITY_SCRAP
		     , COMMUNITY_RECOMMEND
		     , COMMUNITY_THUMB
		     , COMMUNITY_ENROLL
		  FROM TB_COMMUNITY   
		  JOIN TB_MEMBER USING(USER_NO)
		 WHERE COMMUNITY_NO = ?
		   AND COMMUNITY_STATUS = 'Y'
	</entry>
	<entry key="deleteCommunity">
		 UPDATE
		       TB_COMMUNITY
		   SET COMMUNITY_STATUS = 'N'
		   WHERE COMMUNITY_NO = ?
	</entry>
	<entry key="updateCommunity">	 
		 UPDATE
		        TB_COMMUNITY
		    SET COMMUNITY_TITLE = ?
		      , COMMUNITY_CONTENT = ?
		      , COMMUNITY_THUMB = ?
		      , COMMUNITY_HEAD = ?
		  WHERE COMMUNITY_NO = ?
	</entry>
	
</properties>