<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) 
  		  FROM TB_NOTICE 
 		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM 
		     (
		     SELECT ROWNUM RNUM
		          , A.*
		       FROM
		          (
		             SELECT NOTICE_NO,
		                    NOTICE_TITLE,
		                    NOTICE_ENROLL,
		                    NOTICE_VIEWS
		               FROM TB_NOTICE
		              WHERE STATUS = 'Y' 
		              ORDER
		                 BY NOTICE_NO DESC
		          ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?
		 
	</entry>
	
		<entry key="insertAdminNotice">
		INSERT
		  INTO TB_NOTICE
		  (
		     NOTICE_NO
		   , NOTICE_TITLE
		   , NOTICE_CONTENT
		   , ADMIN_NO
		  )
		  VALUES
		  (
		     SEQ_NOTICENO.NEXTVAL
		   , ?
		   , ?
		   , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       TB_NOTICE
		   SET NOTICE_VIEWS = NOTICE_VIEWS + 1
		 WHERE NOTICE_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectAdminNotice">
	SELECT 
	       NOTICE_TITLE
	     , NOTICE_CONTENT
	     , NOTICE_ENROLL
	     , NOTICE_VIEWS
	     , ADMIN_ID
	  FROM TB_NOTICE N
	  JOIN TB_ADMIN USING(ADMIN_NO)
	 WHERE N.STATUS = 'Y'
	   AND NOTICE_NO = ?
	</entry>
	
	<entry key="deleteAdminNotice">
		UPDATE 
		       TB_NOTICE
		   SET STATUS = 'N'
		     , NOTICE_MODIFY = SYSDATE
		 WHERE NOTICE_NO = ?
	</entry>
	
	
</properties>