<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) LISTCOUNT
		  FROM TB_RECOMMEND
		 WHERE RECOMMEND_STATUS = 'Y'
	</entry>

	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       RECOMMEND_NO
		                     , RECOMMEND_TITLE
		                     , RECOMMEND_ENROLL
		                     , RECOMMEND_COUNT
		                     , RECOMMEND_LIKE
		                     , ADMIN_ID
		                  FROM TB_RECOMMEND
		                  JOIN TB_ADMIN USING(ADMIN_NO)
		                 WHERE RECOMMEND_STATUS = 'Y'
		                 ORDER 
		                    BY RECOMMEND_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>


</properties>