<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
	      FROM TB_INQUIRE
	     WHERE STATUS = 'Y'
	       AND USER_NO = ?
	</entry>

	<entry key="selectList">
		 SELECT *
   FROM (
         SELECT 
                ROWNUM RNUM
              , A.* 
           FROM (
                 SELECT
                        INQUIRE_NO
                      , INQUIRE_TITLE
                      , INQUIRE_CONTENT
                      , INQUIRE_STATUS
                   FROM TB_INQUIRE
                  WHERE STATUS = 'Y'
                    AND USER_NO = ?
                  ORDER
                     BY INQUIRE_NO DESC
                ) A
           )
  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteInquireList">
		  UPDATE
		         TB_INQUIRE
		     SET STATUS = 'N'
		   WHERE INQUIRE_NO = ?
		   
	</entry>

	<entry key="selectInquire">
		SELECT
               IQ.INQUIRE_NO
		     , IQ.INQUIRE_TITLE
		     , IQ.INQUIRE_CONTENT
		     , IQ.INQUIRE_ENROLL_DATE
		     , IQ.INQUIRE_RESPONSE
		     , IQ.RESPONSE_DATE
		     , M.USER_NICK
		     , AD.ADMIN_ID
		  FROM TB_INQUIRE IQ
		  JOIN TB_MEMBER M ON ( M.USER_NO = IQ.USER_NO)
	 LEFT JOIN TB_ADMIN AD ON ( AD.ADMIN_NO = IQ.ADMIN_NO)
		 WHERE INQUIRE_NO = ?
		   AND IQ.STATUS = 'Y'
	</entry>
</properties>


