<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount1">
		SELECT 
		       COUNT(*)
		  FROM TB_MEMBER
		 WHERE USER_NAME LIKE '%' || ? || '%'
		   AND STATUS LIKE '%' || ? ||'%'
	</entry>
	
	<entry key="selectListCount2">
		SELECT 
		       COUNT(*)
		  FROM TB_MEMBER
		 WHERE USER_ID LIKE '%' || ? || '%'
		   AND STATUS LIKE '%' || ? ||'%'
	</entry>

	<entry key="selectList1">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		           FROM (
                         SELECT 
                                USER_NO
                              , USER_ID
                              , USER_NAME
                              , ENROLL_DATE
                              , MODIFY_DATE
                              , STATUS
                           FROM TB_MEMBER
                          WHERE USER_NAME LIKE '%' || ? || '%'
                            AND STATUS LIKE '%' || ? ||'%'
                          ORDER
                             BY USER_NO DESC
                        ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectList2">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		           FROM (
                         SELECT 
                                USER_NO
                              , USER_ID
                              , USER_NAME
                              , ENROLL_DATE
                              , MODIFY_DATE
                              , STATUS
                           FROM TB_MEMBER
                          WHERE USER_ID LIKE '%' || ? || '%'
                            AND STATUS LIKE '%' || ? ||'%'
                          ORDER
                             BY USER_NO DESC
                        ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMember">
		SELECT 
		       USER_ID
		     , USER_NAME
		     , USER_NICK
		     , USER_BIRTH
		     , GENDER
		     , PHONE
		     , EMAIL
		     , ENROLL_DATE
		     , MODIFY_DATE
		     , USER_INTRO
		     , PROFILEPIC_PATH
		     , STATUS
		  FROM TB_MEMBER
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="updateMember">
		UPDATE 
		       TB_MEMBER
		   SET PROFILEPIC_PATH = ?,
		       USER_NICK = ?,
		       USER_INTRO = ?,
		       USER_NAME = ?,
		       USER_BIRTH = ?,
		       EMAIL = ?,
       		   MODIFY_DATE = SYSDATE
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE 
		       TB_MEMBER
		   SET STATUS = 'N',
		       MODIFY_DATE = SYSDATE
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectReportType">
		SELECT DISTINCT REPORT_TYPE
		  FROM TB_REPORT
		 WHERE USER_NO2 = ?
	</entry>

</properties>