<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
		<entry key="selectReceiverCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_MESSAGE
		 WHERE STATUS = 'Y'
		   AND USER_NO2 = ?
	
	</entry>
	
		<entry key="selectReceiverList">
 		SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       M.MESSAGE_NO
		                     , B.USER_ID
		                     , B.USER_NICK
		                     , M.MESSAGE_CONTENT
		                     , M.MESSAGE_DATE
		                     , M.USER_NO
		                     , M.USER_NO2
		                     
		                  FROM TB_MESSAGE M
		                  JOIN TB_MEMBER B ON(M.USER_NO = B.USER_NO)
		                  WHERE M.STATUS = 'Y' 
		                    AND (M.USER_NO2 = ?) 
		                 ORDER 
		                    BY M.MESSAGE_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
		 
		 </entry>


</properties>