<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) 
  		  FROM TB_INQUIRE
 		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM 
		     (
		     SELECT ROWNUM RNUM
		          , A.*
		       FROM
		          (
		             SELECT INQUIRE_NO,
		                    INQUIRE_TITLE,
		                    INQUIRE_ENROLL_DATE,
		                    INQUIRE_STATUS,
		                    INQUIRE_EMAIL,
		                    INQUIRE_SEP,
		                    USER_ID
		               FROM TB_INQUIRE IQ
		               LEFT JOIN TB_MEMBER USING(USER_NO)
		              WHERE IQ.STATUS = 'Y'
		              ORDER
		                 BY INQUIRE_NO DESC
		          ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?	
	</entry>
	
	<!-- 관리자 1:1문의 상세 조회 -->
	<entry key="selectAdminInquiry">
	SELECT 
		   INQUIRE_NO
	     , INQUIRE_TITLE
	     , INQUIRE_CONTENT
	     , INQUIRE_ENROLL_DATE
	     , INQUIRE_RESPONSE
	     , INQUIRE_TYPE
	     , INQUIRE_SEP
	     , INQUIRE_EMAIL
	     , ADMIN_ID
	     , USER_ID
	  FROM TB_INQUIRE I
FULL OUTER JOIN TB_MEMBER USING(USER_NO)
FULL OUTER JOIN TB_ADMIN USING(ADMIN_NO)
	 WHERE I.STATUS = 'Y'
	   AND INQUIRE_NO = ?
	</entry>
	

</properties>