<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) 
  		  FROM TB_INQUIRE
 		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM 
		     (
		     SELECT ROWNUM RNUM
		          , A.*
		       FROM
		          (
		             SELECT INQUIRE_NO,
		                    INQUIRE_TITLE,
		                    INQUIRE_ENROLL_DATE,
		                    INQUIRE_STATUS,
		                    INQUIRE_EMAIL,
		                    INQUIRE_SEP,
		                    USER_ID
		               FROM TB_INQUIRE IQ
		               LEFT JOIN TB_MEMBER USING(USER_NO)
		              WHERE IQ.STATUS = 'Y'
		              ORDER
		                 BY INQUIRE_NO DESC
		          ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?	
	</entry>

</properties>