<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount1">
		SELECT 
		       COUNT(*)
		  FROM TB_COMMUNITY
		 WHERE COMMUNITY_TITLE LIKE '%' || ? || '%'
		   AND COMMUNITY_HEAD LIKE '%' || ? || '%'
		   AND COMMUNITY_STATUS = 'Y'
	</entry>
	
	<entry key="selectListCount2">
		SELECT 
		       COUNT(*)
		  FROM TB_COMMUNITY
		  JOIN TB_ADMIN ON(USER_NO = ADMIN_NO)
		 WHERE ADMIN_ID LIKE '%' || ? || '%'
		   AND COMMUNITY_HEAD LIKE '%' || ? || '%'
		   AND COMMUNITY_STATUS = 'Y'
		
		UNION ALL
		
		SELECT 
		       COUNT(*)
		  FROM TB_COMMUNITY
		  JOIN TB_MEMBER USING(USER_NO)
		 WHERE USER_ID LIKE '%' || ? || '%'
		   AND (COMMUNITY_HEAD LIKE '%' || ? || '%'
		    OR COMMUNITY_HEAD LIKE '%' || ? || '%')
		   AND COMMUNITY_STATUS = 'Y'
	</entry>

	<entry key="selectList1">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , B.*
		          FROM (
		                SELECT A.*
		                          FROM (
		                                SELECT ADMIN_ID WRITER
		                                     , COMMUNITY_NO
		                                     , COMMUNITY_TITLE
		                                     , COMMUNITY_ENROLL
		                                     , COMMUNITY_COUNT
		                                     , COMMUNITY_HEAD
		                                  FROM TB_COMMUNITY
		                                  JOIN TB_ADMIN ON(USER_NO = ADMIN_NO)
		                                 WHERE COMMUNITY_TITLE LIKE '%' || ? || '%'
		                                   AND COMMUNITY_HEAD LIKE '%' || ? || '%'
		                                   AND COMMUNITY_STATUS = 'Y'
		                                
		                                UNION
		                                
		                                SELECT USER_ID
		                                     , COMMUNITY_NO
		                                     , COMMUNITY_TITLE
		                                     , COMMUNITY_ENROLL
		                                     , COMMUNITY_COUNT
		                                     , COMMUNITY_HEAD
		                                  FROM TB_COMMUNITY
		                                  JOIN TB_MEMBER USING(USER_NO)
		                                 WHERE COMMUNITY_TITLE LIKE '%' || ? || '%'
		                                   AND (COMMUNITY_HEAD LIKE '%' || ? || '%'
		                                    OR COMMUNITY_HEAD LIKE '%' || ? || '%')
		                                   AND COMMUNITY_STATUS = 'Y'
		                               ) A
		                         ORDER  
		                            BY COMMUNITY_NO DESC
		               ) B
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectList2">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , B.*
		          FROM (
		                SELECT A.*
		                          FROM (
		                                SELECT ADMIN_ID WRITER
		                                     , COMMUNITY_NO
		                                     , COMMUNITY_TITLE
		                                     , COMMUNITY_ENROLL
		                                     , COMMUNITY_COUNT
		                                     , COMMUNITY_HEAD
		                                  FROM TB_COMMUNITY
		                                  JOIN TB_ADMIN ON(USER_NO = ADMIN_NO)
		                                 WHERE ADMIN_ID LIKE '%' || ? || '%'
		                                   AND COMMUNITY_HEAD LIKE '%' || ? || '%'
		                                   AND COMMUNITY_STATUS = 'Y'
		                                
		                                UNION
		                                
		                                SELECT USER_ID
		                                     , COMMUNITY_NO
		                                     , COMMUNITY_TITLE
		                                     , COMMUNITY_ENROLL
		                                     , COMMUNITY_COUNT
		                                     , COMMUNITY_HEAD
		                                  FROM TB_COMMUNITY
		                                  JOIN TB_MEMBER USING(USER_NO)
		                                 WHERE USER_ID LIKE '%' || ? || '%'
		                                   AND (COMMUNITY_HEAD LIKE '%' || ? || '%'
		                                    OR COMMUNITY_HEAD LIKE '%' || ? || '%')
		                                   AND COMMUNITY_STATUS = 'Y'
		                               ) A
		                         ORDER  
		                            BY COMMUNITY_NO DESC
		               ) B
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertCommunity">
		INSERT
		  INTO TB_COMMUNITY
		  (
		     COMMUNITY_NO
		   , USER_NO
		   , COMMUNITY_TITLE
		   , COMMUNITY_CONTENT
		   , COMMUNITY_HEAD
		  )
		  VALUES
		  (
		     SEQ_COMMUNITYNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , '공지'
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       TB_COMMUNITY
		   SET COMMUNITY_COUNT = COMMUNITY_COUNT + 1
		 WHERE COMMUNITY_NO = ?
		   AND COMMUNITY_STATUS = 'Y'
	</entry>
	
	<entry key="selectCommunity">
		SELECT 
		       USER_ID
		     , COMMUNITY_TITLE
		     , COMMUNITY_CONTENT
		     , COMMUNITY_ENROLL
		     , COMMUNITY_COUNT
		     , COMMUNITY_SCRAP
		     , COMMUNITY_RECOMMEND
		     , COMMUNITY_THUMB
		     , COMMUNITY_HEAD
		  FROM TB_COMMUNITY
		  JOIN TB_MEMBER USING(USER_NO)
		 WHERE COMMUNITY_STATUS = 'Y'
		   AND COMMUNITY_NO = ?
	</entry>
	
	<entry key="selectCommentCount">
		SELECT 
		       COUNT(*)
		  FROM TB_COMMUNITY_COMMENT
		 WHERE COMMENT_STATUS = 'Y'
		   AND COMMUNITY_NO = ?
	</entry>
	
	<entry key="selectCommentList">
		SELECT *
		  FROM
		     (
		     SELECT ROWNUM RNUM
		                 , A.*
		              FROM
		                 (
		                  SELECT  
		                         COMMENT_NO
		                       , COMMUNITY_NO
		                       , COMMENT_CONTENT
		                       , COMMENT_DATE
		                       , USER_ID
		                       , PROFILEPIC_PATH
		                    FROM TB_COMMUNITY_COMMENT 
		                    JOIN TB_MEMBER USING(USER_NO)
		                   WHERE COMMENT_STATUS = 'Y'
                             AND COMMUNITY_NO = ? 
                           ORDER
                              BY COMMENT_NO DESC          
		                 ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteCommunity">
		UPDATE 
		       TB_COMMUNITY
		   SET COMMUNITY_STATUS = 'N'
		     , COMMUNITY_MODIFY = SYSDATE
		 WHERE COMMUNITY_NO = ?
	</entry>
	
	<entry key="deleteComment">
		UPDATE 
		       TB_COMMUNITY_COMMENT
		   SET COMMENT_STATUS = 'N',
  		       COMMENT_MODIFY = SYSDATE
		 WHERE COMMENT_NO = ?
	</entry>
	
	<entry key="updateCommunity">
		UPDATE 
		       TB_COMMUNITY
		   SET COMMUNITY_TITLE = ?
		     , COMMUNITY_CONTENT = ?
		     , COMMUNITY_MODIFY = SYSDATE
 		 WHERE COMMUNITY_NO = ?

	<entry key="decreaseReCount">
		UPDATE TB_COMMUNITY
		   SET COMMUNITY_COMMENT = COMMUNITY_COMMENT -1
		 WHERE COMMUNITY_NO = ?
	</entry>
</properties>