<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount1">
		SELECT 
		       COUNT(*)
		  FROM TB_PLAN_OPTION
		 WHERE PLAN_TITLE LIKE '%' || ? || '%'
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectListCount2">
		SELECT 
		       COUNT(*)
		  FROM TB_PLAN_OPTION P
		  JOIN TB_MEMBER USING(USER_NO)
		 WHERE USER_ID LIKE '%' || ? || '%'
		   AND P.STATUS = 'Y'
	</entry>
	
	<entry key="selectList1">
		SELECT *
		  FROM
		    (
		    SELECT ROWNUM RNUM
		         , A.*
		      FROM
		        (
		        SELECT 
		               PLAN_NO
		             , PLAN_TITLE
		             , USER_ID
		             , P.ENROLL_DATE
		             , PLAN_COUNT
		          FROM TB_PLAN_OPTION P
		          JOIN TB_MEMBER USING(USER_NO)
		         WHERE P.STATUS = 'Y'
		           AND PLAN_TITLE LIKE '%' || ? || '%'
		         ORDER
		            BY PLAN_NO DESC
		        ) A
		    )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectList2">
		SELECT *
		  FROM
		    (
		    SELECT ROWNUM RNUM
		         , A.*
		      FROM
		        (
		        SELECT 
		               PLAN_NO
		             , PLAN_TITLE
		             , USER_ID
		             , P.ENROLL_DATE
		             , PLAN_COUNT
		          FROM TB_PLAN_OPTION P
		          JOIN TB_MEMBER USING(USER_NO)
		         WHERE P.STATUS = 'Y'
		           AND USER_ID LIKE '%' || ? || '%'
		         ORDER
		            BY PLAN_NO DESC
		        ) A
		    )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       TB_PLAN_OPTION
		   SET PLAN_COUNT = PLAN_COUNT + 1
		 WHERE PLAN_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectPlan">
		SELECT 
		       PLAN_TITLE
		     , PLAN_SDATE
		     , PLAN_EDATE
		     , PLAN_AGE
		     , PLAN_ACC
		     , PLAN_SCRAP_YN
		     , PLAN_BUDGET
		     , PLAN_MEMO
		     , PLAN_TYPE
		     , PLAN_TRANS
		     , PLAN_RECOMMEND
		     , PLAN_SCRAP_COUNT
		     , USER_ID
		     , USER_NICK
		     , P.USER_NO AS USER_NO
		     , PROFILEPIC_PATH
		  FROM TB_PLAN_OPTION P
		  JOIN TB_MEMBER M ON (P.USER_NO = M.USER_NO)
		 WHERE PLAN_NO = ?
		   AND P.STATUS = 'Y'
	</entry>
	
	<entry key="deletePlan">
		UPDATE 
		       TB_PLAN_OPTION
		   SET STATUS = 'N'
		     , MODIFY_DATE = SYSDATE
		 WHERE PLAN_NO = ?
	</entry>
	
	<entry key="selectCommentCount">
		SELECT 
		       COUNT(*)
		  FROM TB_PLAN_COMMENT
		 WHERE COMMENT_STATUS = 'Y'
		   AND PLAN_NO = ?
	</entry>
	
	<entry key="selectCommentList">
		SELECT *
		  FROM
		     (
		     SELECT ROWNUM RNUM
		                 , A.*
		              FROM
		                 (
		                  SELECT  
		                         COMMENT_NO
		                       , USER_ID
		                       , PLAN_NO
		                       , COMMENT_CONTENT
		                       , COMMENT_DATE
		                       , PROFILEPIC_PATH
		                       , USER_NICK
                               , USER_NO
		                    FROM TB_PLAN_COMMENT 
		                    JOIN TB_MEMBER USING(USER_NO)
		                   WHERE COMMENT_STATUS = 'Y'
                             AND PLAN_NO = ? 
                           ORDER
                              BY PLAN_NO DESC          
		                 ) A
		     )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="deleteComment">
		UPDATE 
		       TB_PLAN_COMMENT
		   SET COMMENT_STATUS = 'N',
  		       COMMENT_MODIFY = SYSDATE
		 WHERE COMMENT_NO = ?
	</entry>
	
	<entry key="insertComment">
		INSERT 
		  INTO TB_PLAN_COMMENT
		  (
		     COMMENT_NO
		   , USER_NO
		   , PLAN_NO
		   , COMMENT_CONTENT
		  )
		  VALUES
		  (
		     SEQ_PLANCOMMENTNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		  )
	</entry>
	
	<entry key="likePlan">
		INSERT
		  INTO TB_PLAN_RECOMMEND
		  (
		     USER_NO
		   , PLAN_NO 
		  )
		  VALUES
		  ( 
		     ?
		   , ?  
		  )
	</entry>
	
	<entry key="scrapPlan">
		INSERT
		  INTO TB_PLAN_SCRAP
		  (
		     USER_NO
		   , PLAN_NO 
		   , PSCRAP_DATE
		  )
		  VALUES
		  ( 
		     ?
		   , ?
		   , SYSDATE
		  )
	</entry>
	
	<entry key="accomPlan">
		INSERT
		  INTO TB_ACCOMPANY
		  (
		     ACCOM_NO
		   , USER_NO
		   , USER_NO2
		   , PLAN_NO 
		  )
		  VALUES
		  ( 
		     SEQ_ACCOMNO
		   , ?
		   , ?
		   , ?
		  )
	</entry>
	
	<entry key="increasePlanRecommend">
		UPDATE
		       TB_PLAN_OPTION
		   SET PLAN_RECOMMEND = PLAN_RECOMMEND + 1
		 WHERE PLAN_NO = ?
	</entry>
	
	<entry key="increasePlanScrap">
		UPDATE
		       TB_PLAN_OPTION
		   SET PLAN_SCRAP_COUNT = PLAN_SCRAP_COUNT + 1
		 WHERE PLAN_NO = ?
	</entry>
	
</properties>