<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) LISTCOUNT
		  FROM TB_RECOMMEND
		 WHERE RECOMMEND_STATUS = 'Y'
		   AND RECOMMEND_TITLE LIKE '%' || ? || '%'
	</entry>

	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       RECOMMEND_NO
		                     , RECOMMEND_TITLE
		                     , RECOMMEND_ENROLL
		                     , RECOMMEND_COUNT
		                     , RECOMMEND_LIKE
		                     , ADMIN_ID
		                  FROM TB_RECOMMEND
		                  JOIN TB_ADMIN USING(ADMIN_NO)
		                 WHERE RECOMMEND_STATUS = 'Y'
		                   AND RECOMMEND_TITLE LIKE '%' || ? || '%'
		                 ORDER 
		                    BY RECOMMEND_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertRecommend">
		INSERT
		  INTO TB_RECOMMEND
		  (
		     RECOMMEND_NO
		   , RECOMMEND_TITLE
		   , RECOMMEND_CONTENT
		   , RECOMMEND_THUMB
		   , ADMIN_NO
		  )
		  VALUES 
		  (
		     SEQ_RECOMMENDNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       TB_RECOMMEND
		   SET RECOMMEND_COUNT = RECOMMEND_COUNT + 1
		 WHERE RECOMMEND_NO = ?
		   AND RECOMMEND_STATUS = 'Y'
	</entry>
	
	<entry key="selectRecommend">
		SELECT 
		       RECOMMEND_TITLE
		     , RECOMMEND_CONTENT
		     , RECOMMEND_ENROLL
		     , RECOMMEND_COUNT
		     , RECOMMEND_LIKE
		     , RECOMMEND_THUMB
		     , ADMIN_ID
		  FROM TB_RECOMMEND
		  JOIN TB_ADMIN USING(ADMIN_NO)
		 WHERE RECOMMEND_NO = ?
	</entry>
	
	<entry key="updateRecommend">
		UPDATE 
		       TB_RECOMMEND
		   SET RECOMMEND_TITLE = ?
		     , RECOMMEND_CONTENT = ?
		     , RECOMMEND_THUMB = ?
		     , RECOMMEND_MODIFY = SYSDATE
		 WHERE RECOMMEND_NO = ?
	</entry>
	
	<entry key="deleteRecommend">
		UPDATE 
		       TB_RECOMMEND
		   SET RECOMMEND_STATUS = 'N'
		     , RECOMMEND_MODIFY = SYSDATE
		 WHERE RECOMMEND_NO = ?
	</entry>


</properties>