<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPlan">
		INSERT
		  INTO TB_PLAN_OPTION
		  (
		     PLAN_NO
		   , PLAN_TITLE
		   , PLAN_SDATE
		   , PLAN_EDATE
		   , PLAN_AGE
		   , PLAN_ACC
		   , PLAN_BUDGET
		   , PLAN_SCRAP_YN
		   , PLAN_PRIVATE
		   , PLAN_MEMO
		   , PLAN_TYPE
		   , PLAN_TRANS
		   , USER_NO
		   
		  ) 
		  VALUES
		  (
		     SEQ_PLANNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		  )
		  
		 
	</entry>
	<entry key="insertPlanPlace">
		 INSERT
		  	INTO TB_PLAN_MAP
		  	(
		  		PLAN_XY_NO
		  	  , PLAN_DAY
		  	  , PLAN_PLACE
		  	)
		  	VALUES
		  	(
		  		SEQ_PLANXYNO.NEXTVAL
		  	  , ?
		  	  , ?
		  	) 
	</entry>
	
	
	
</properties>