<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertPlan">
		INSERT
		  INTO TB_PLAN_OPTION
		  (
		     PLAN_NO
		   , PLAN_TITLE
		   , PLAN_SDATE
		   , PLAN_EDATE
		   , PLAN_AGE
		   , PLAN_ACC
		   , PLAN_BUDGET
		   , PLAN_SCRAP_YN
		   , PLAN_PRIVATE
		   , PLAN_MEMO
		   , PLAN_TYPE
		   , PLAN_TRANS
		   , USER_NO
		   
		  ) 
		  VALUES
		  (
		     SEQ_PLANNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		  )
		  
		 
	</entry>
	<entry key="insertPlanPlace">
		 INSERT
		  	INTO TB_PLAN_MAP
		  	(
		  		PLAN_MAP_NO
		  	  , PLAN_DAY
		  	  , PLAN_PLACE
		  	  , PLAN_NO
		  	)
		  	VALUES
		  	(
		  		SEQ_PLANMAPNO.NEXTVAL
		  	  , ?
		  	  , ?
		  	  , SEQ_PLANNO.NEXTVAL - 1
		  	) 
	</entry>
	
	<entry key="selectPlanMake">
		SELECT 
		         PLAN_NO
			   , PLAN_TITLE
			   , PLAN_SDATE
			   , PLAN_EDATE
			   , PLAN_AGE
			   , PLAN_ACC
			   , PLAN_BUDGET
			   , PLAN_SCRAP_YN
			   , PLAN_PRIVATE
			   , PLAN_MEMO
			   , PLAN_TYPE
			   , PLAN_TRANS
			   , USER_NO
		  FROM TB_PLAN_OPTION
		 WHERE PLAN_NO = ?
	</entry>
	
	<entry key="selectPlanPlace">
		SELECT 
		         PLAN_MAP_NO
			   , PLAN_DAY
			   , PLAN_PLACE
			   , PLAN_NO
		  FROM TB_PLAN_MAP
		 WHERE PLAN_NO = ?
	</entry>
	
	<entry key="updatePlanMeke">
		UPDATE 
		       TB_PLAN_OPTION
		   SET 
		      PLAN_NO = ?
		   , PLAN_TITLE = ?
		   , PLAN_SDATE = ?
		   , PLAN_EDATE = ?
		   , PLAN_AGE = ?
		   , PLAN_ACC = ?
		   , PLAN_BUDGET = ?
		   , PLAN_SCRAP_YN = ?
		   , PLAN_PRIVATE = ?
		   , PLAN_MEMO = ?
		   , PLAN_TYPE = ?
		   , PLAN_TRANS = ?
		 WHERE PLAN_NO = ?
	</entry>
	
	<entry key="updatePlanPlace">
		UPDATE 
		       TB_PLAN_MAP
		   SET 
		      PLAN_MAP_NO = ?
		   , PLAN_DAY = ?
		   , PLAN_PLACE = ?
		 WHERE PLAN_NO = ?
	</entry>
	
	
</properties>