<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="accomInsert">
		INSERT 
		  INTO TB_ACCOMPANY
		  (    ACCOM_NO
		     , USER_NO
		     , USER_NO2
		     , PLAN_NO
		  )
		  VALUES
		  (
		    SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  );
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_ACCOMPANY
		 WHERE ACCOM_STATUS = 'Y'
	
	
	</entry>
</properties>