<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="accomInsert">
		INSERT 
		  INTO TB_ACCOMPANY
		  (    ACCOM_NO
		     , USER_NO
		     , USER_NO2
		     , PLAN_NO
		  )
		  VALUES
		  (
		    SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_ACCOMPANY
		 WHERE ACCOM_STATUS = 'Y'
		   AND (USER_NO = ? OR USER_NO2 = ?)
	
	</entry>
	
	<entry key="selectList">
 		SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       C.ACCOM_NO
		                     , M.USER_ID
		                     , M.USER_NICK
		                     , C.USER_NO
		                     , C.USER_NO2
		                     , C.PLAN_NO
		                  FROM TB_ACCOMPANY C
		                  JOIN TB_MEMBER M ON(C.USER_NO2 = M.USER_NO)
		                  WHERE C.ACCOM_STATUS = 'Y' 
		                    AND (C.USER_NO = ?) 
		                 ORDER 
		                    BY C.ACCOM_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
         
         UNION
                  
 		SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       C.ACCOM_NO
		                     , M.USER_ID
		                     , M.USER_NICK
		                     , C.USER_NO
		                     , C.USER_NO2
		                     , C.PLAN_NO
		                  FROM TB_ACCOMPANY C
		                  JOIN TB_MEMBER M ON(C.USER_NO = M.USER_NO)
		                  WHERE C.ACCOM_STATUS = 'Y' 
		                    AND (C.USER_NO2 = ?) 
		                 ORDER 
		                    BY C.ACCOM_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
		
	
	
	<entry key="deleteAccom">
	
		UPDATE
               TB_ACCOMPANY
  	       SET ACCOM_STATUS = 'N'
         WHERE ACCOM_NO = ?
	
	
	</entry>
	
	<entry key="accomProfile">
			SELECT 
		           USER_ID
		         , USER_NAME
		         , USER_NICK
		         , EMAIL
		         , USER_BIRTH
		         , USER_INTRO
		 	  FROM TB_MEMBER
		     WHERE USER_ID = ?
	
	
	</entry>
	
	<entry key="sendMessage">
		INSERT 
		  INTO TB_MESSAGE
		  (	   MESSAGE_NO,
			   MESSAGE_CONTENT,
			   USER_NO,
			   USER_NO2
		  
		  )
		   VALUES
		  (
		    SEQ_MESSAGENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
			
	
	
	</entry>
	
	<entry key="accomCheckReport">
		SELECT COUNT(*)
		  FROM TB_REPORT
		 WHERE USER_NO = ?
		   AND USER_NO2= ?
		   AND REPORT_POSTNO = ?
		   AND REPORT_POSTTYPE = 2
	</entry>
	
	<entry key="accomInsertReport">
		INSERT
		  INTO TB_REPORT
		  (
		     REPORT_NO
		   , USER_NO
		   , USER_NO2
		   , REPORT_POSTNO
		   , REPORT_TYPE
		   , REPORT_POSTTYPE
		   , REPORT_CONTENT
		  )
		  VALUES
		  (
		     SEQ_REPORTNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , 2
		   , ?
		  )
	</entry>
	
	<entry key="updateReport">
		UPDATE
				TB_ACCOMPANY
		   SET	ACCOM_STATUS = 'N'
		 WHERE  ACCOM_NO = ?
	
	</entry>
	
	<entry key="selectRequestListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_ACCOMPANY
		 WHERE ACCOM_STATUS IS NULL
           AND USER_NO2 = ?
	
	
	</entry>
	
	<entry key="selectRequestList">
				SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       C.ACCOM_NO
		                     , M.USER_ID
		                     , M.USER_NICK
                             , C.ACCOM_APPLY
		                     , C.USER_NO
		                     , C.USER_NO2
		                     , C.PLAN_NO
                             , P.PLAN_TITLE
		                  FROM TB_ACCOMPANY C
		                  JOIN TB_MEMBER M ON(C.USER_NO = M.USER_NO)
                          JOIN TB_PLAN_OPTION P ON(C.PLAN_NO = P.PLAN_NO)
		                  WHERE C.ACCOM_STATUS IS NULL 
		                    AND C.USER_NO2 = ? 
		                 ORDER 
		                    BY C.ACCOM_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	
	</entry>
	<entry key="accomAgree">
		UPDATE TB_ACCOMPANY
		   SET ACCOM_STATUS = 'Y'
		   	 , ACCOM_COMPLETE = SYSDATE
		 WHERE ACCOM_NO = ?
	
	
	</entry>
	
	<entry key="accomCancel">
		UPDATE TB_ACCOMPANY
		   SET ACCOM_STATUS = 'N'
		 WHERE ACCOM_NO = ?
	
	</entry>
	
	<entry key="selectResponseListCount">
		
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_ACCOMPANY
		 WHERE (ACCOM_STATUS IS NULL OR ACCOM_STATUS = 'N')
           AND USER_NO = ?
	
	
	</entry>
	
	
		<entry key="selectResponseList">
         				SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       C.ACCOM_NO
		                     , M.USER_ID
		                     , M.USER_NICK
                             , C.ACCOM_APPLY
                             , C.ACCOM_STATUS
		                     , C.USER_NO
		                     , C.USER_NO2
		                     , C.PLAN_NO
                             , P.PLAN_TITLE
		                  FROM TB_ACCOMPANY C
		                  JOIN TB_MEMBER M ON(C.USER_NO2 = M.USER_NO)
                          JOIN TB_PLAN_OPTION P ON(C.PLAN_NO = P.PLAN_NO)
		                  WHERE (C.ACCOM_STATUS IS NULL OR 
		                         C.ACCOM_STATUS = 'N' OR
		                         C.ACCOM_STATUS = 'Y')
		                    AND C.USER_NO = ? 
		                 ORDER 
		                    BY C.ACCOM_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="accomResponseCancel">
		
		UPDATE TB_ACCOMPANY
		   SET ACCOM_STATUS = 'N'
		 WHERE ACCOM_NO = ?
	
	
	</entry>
	
	<entry key="selectDelete">
		UPDATE TB_ACCOMPANY
		   SET ACCOM_STATUS = 'N'
		 WHERE ACCOM_NO = ?
	
	
	</entry>
	
	
	
	
</properties>