<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="accomInsert">
		INSERT 
		  INTO TB_ACCOMPANY
		  (    ACCOM_NO
		     , USER_NO
		     , USER_NO2
		     , PLAN_NO
		  )
		  VALUES
		  (
		    SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_ACCOMPANY
		 WHERE ACCOM_STATUS = 'Y'
	
	
	</entry>
	
	<entry key="selectList">
		SELECT *
		 FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       C.ACCOM_NO
		                     , M.USER_ID
		                     , M.USER_NICK
		                     , C.USER_NO
		                     , C.USER_NO2
		                  FROM TB_ACCOMPANY C
		                  JOIN TB_MEMBER M ON(C.USER_NO2 = M.USER_NO)
		                  WHERE C.ACCOM_STATUS = 'Y'
		                 ORDER 
		                    BY C.ACCOM_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteAccom">
	
		UPDATE
               TB_ACCOMPANY
  	       SET ACCOM_STATUS = 'N'
         WHERE ACCOM_NO = ?
	
	
	</entry>
</properties>